<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p class="dark-text">
          I'm a Software Engineer with 6+ years of experience in iOS, mobile and web development,
          including 3+ years of experience as Software Engineer in Big Tech, 2+ years in a small
          startup where I was part of a 3 people iOS team where all the responsibilities were
          divided equally, and 2+ years in my startup where I created and maintain an iOS app, a
          Flutter app for Android, a web app and the API.
        </p>
      </div>
      <div class="col-lg-4">
        <p class="dark-text">
          I'm Experienced in all the steps needed to create a mobile application, from design to the
          release in the App Store.
        </p>
        <p class="dark-text">
          I've been doing my own apps since 2019. Some of them are in the App Store, a couple of
          them are in the process. In the apps section, you will find a list of my apps.
        </p>
      </div>
    </div>
  </div>
</section>
