<!-- Portfolio Modals -->
{% for post in site.posts %}
<div
  class="portfolio-modal modal fade"
  id="portfolioModal-{{ post.modal-id }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary" />
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>
                Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %} {% if post.project-date %}
              <li>
                Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %} {% if post.category %}
              <li>
                Stack:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <a
              href="{{ post.app-store-link }}"
              style="
                display: inline-block;
                overflow: hidden;
                border-radius: 13px;
                width: 250px;
                height: 83px;
              "
              ><img
                src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1683158400"
                alt="Download on the App Store"
                style="border-radius: 13px; width: 250px; height: 83px"
            /></a>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
